.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.listItem {
  display: contents;
}

.title {
  margin-bottom: 0.75rem;
  font-size: 1.4rem;
}

.sort {
  margin-bottom: 1rem;
}

.search {
  margin-bottom: 1rem;
}
