.selectTrigger {
  max-width: 16rem;
  width: 100%;
}

.selectValue {
  display: block;
  text-overflow: ellipsis;
}

.selectContent {
  max-width: 20rem;
  width: 100%;
}

.label {
  max-width: min-content;
}
