.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.listItem {
  display: contents;
}

.title {
  margin-bottom: 0.75rem;
  font-size: 1.4rem;
}

.selectContainer {
  margin-bottom: 1rem;
}

.selectTrigger {
  max-width: 12rem;
  width: 100%;
}

.selectValue {
  display: block;
  text-overflow: ellipsis;
}
